/lib/
/classes/
/lib_launch/
/openSource/
/bin/
/conf/
/.idea/
.debug.filter
.develop
.idea/libraries/platform.xml
.idea/libraries/plugin.xml
gpf_dc_OctoCM_WebPage.iml
gui_output
lib_emb_plugin
.windsurfrules
.windsurf
.devin
.bapdev-cli